.ms-content {
    min-width: calc(100vw - 200px);
    width: calc(100vw - 200px);
    min-height: 100% !important;
    height: 100%;
    background-color: rgb(245 248 249);
}

.ms-content-full {
    padding: 16px 24px;
    min-width: calc(100vw - 200px);
    width: calc(100vw - 200px);
    height: 100% !important;
    background-color: #f5f8f9 !important;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    width: 100%;
    height: 52px;
}

.content-header-flex {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
}

.content-header-name {
    color: #2c3e50;
    font-size: 20px !important;
    font-weight: 700;
}

.content-main {
    height: 100% !important;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.content-main-header {
    z-index: 8;
    display: flex;
    align-items: center;
    height: 60px;
    min-height: 60px;
    width: 100% !important;
    background-color: #fff;
}

.input-search-user {
    margin-left: 12px;
}

.select-box-role {
    margin-left: 12px !important;
    width: 204px;
    height: 36px;
}

.content-main-setting {
    position: relative;
    margin-left: auto;
    margin-right: 9px !important;
}

.icon-setting {
    position: relative;
    cursor: pointer;
    opacity: 0.5;
    width: 24px;
    height: 24px;
    background: url('../../assets/img/Icon_process.1401a69c.svg') no-repeat -96px -1px;
}


/* CSS cho popup tùy chỉnh cột */

.popup-custom-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -15px;
    top: 25px;
    background-color: #ffffff;
    height: auto;
    overflow: visible;
    width: 314px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: none 0s ease 0s;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
}

.popup-custom-header {
    min-height: 110px;
    height: 110px;
    padding: 16px;
}

.custom-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px !important;
    width: 100%;
}

.custom-text-header {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .324px;
    color: #171b2a;
}

.custom-input-header {
    margin-left: 0px;
    width: 282px !important;
}

.custom-global {
    width: 100% !important;
}

.width-auto {
    width: 100% !important;
    margin-right: 10px !important;
}

.popup-custom-container {
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    padding-left: 16px;
    padding-bottom: 12px !important;
    border-bottom: 1px solid #e7e8e9;
    touch-action: pan-x;
    overflow: scroll;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 8px;
}

.group-item-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1px 0 0 32px;
    cursor: pointer;
    height: 100%;
    text-align: left !important;
    margin-bottom: 4px;
    font-weight: 500;
    outline: none;
}

.slot-lable {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-overflow: ellipsis;
    font-weight: 400;
    cursor: pointer;
}

.slot-lable-text {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-top: 2px !important;
}

.all-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: all-scroll;
}

.all-scroll i {
    width: 24px;
    height: 24px;
    -webkit-mask-position: -489px 2px;
    -webkit-mask-image: url(../../assets/img/Icon_process.1401a69c.svg);
    -webkit-mask-repeat: no-repeat;
    background-color: #686c7b;
    cursor: all-scroll;
    display: none;
}

.popup-custom-footer {
    display: flex;
    background: #f1f5f9;
    align-items: center;
    justify-content: flex-end;
    min-height: 60px;
    height: 60px;
    padding: 12px 20px 12px 0;
}

.btn-custom {
    width: 120px !important;
}

.custom-text {
    font-weight: bold !important;
}

.fix-active {
    opacity: 0.5;
    pointer-events: none;
}

.not-action:hover .all-scroll i {
    display: none !important;
}

.list-group-item:hover .dx-checkbox-icon {
    border: 2px solid #22aeee !important;
}

.list-group-item:hover {
    color: #02a3ec;
}

.list-group-item:hover .all-scroll i {
    display: block;
}

@keyframes popup-custom-main {
    from {
        opacity: 0.2 !important;
    }
    to {
        opacity: 1 !important;
    }
}